@model ankem1MusicAcademy.Models.Tutor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../Styles/MainStyles.css">
    <meta name="viewport" content="width=device-width" />
    <title>Tutor Details</title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="../../Images/music_logo_v1.gif" alt="musical notes" />
            </div>
            <div id="title">
                <h2 id="titleText">Matt's Music Academy</h2>
                <h3 id="titleSubText">-- @Model.FirstName @Model.LastName</h3>
            </div>
        </div>
        <div id="nav">
            <div class="innerContent">
                <ul>
                    <li>@Html.ActionLink("Students", "Students", "Student")</li>
                    <li>@Html.ActionLink("Tutors", "Tutors", "Tutor")</li>
                    <li>@Html.ActionLink("School Roll", "ShowSchoolRoll", "SchoolRoll")</li>
                    <li>@Html.ActionLink("Assign Tutors", "ShowAssignTutorsForm", "AssignTutors")</li>
                </ul>

            </div>
        </div>
        <div id="content">
            <div class="innerContent">
                <p></p>
                <table>
                    <thead>
                        <tr>
                            <th>First</th>
                            <th>Last</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>@Model.FirstName</td>
                        <td>@Model.LastName</td>
                        <td>@Model.Phone</td>
                    </tr>
                </table>
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Instrument</th>
                            <th>Skill Level</th>
                        </tr>
                    </thead>

                    @{
                        List<ankem1MusicAcademy.Models.TutorInstrument> tutorInstruments = (List<ankem1MusicAcademy.Models.TutorInstrument>)@ViewBag.TutorInstruments;
                    }
                    @foreach (var ti in @tutorInstruments)
                    {
                        <tr>
                            <td>@ti.Instrument.Name</td>
                            <td>@ti.SkillLevel.Skill</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>

