@model ankem1MusicAcademy.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../Styles/MainStyles.css">
    <meta name="viewport" content="width=device-width" />
    <title>Student Details</title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="../../Images/music_logo_v1.gif" alt="musical notes" />
            </div>
            <div id="title">
                <h2 id="titleText">Matt's Music Academy</h2>
                <h3 id="titleSubText">-- @Model.FirstName @Model.LastName</h3>
            </div>
        </div>
        <div id="nav">
            <div class="innerContent">
                <ul>
                    <li>@Html.ActionLink("Students", "Students", "Student")</li>
                    <li>@Html.ActionLink("Tutors", "Tutors", "Tutor")</li>
                    <li>@Html.ActionLink("School Roll", "ShowSchoolRoll", "SchoolRoll")</li>
                    <li>@Html.ActionLink("Assign Tutors", "ShowAssignTutorsForm", "AssignTutors")</li>
                </ul>

            </div>
        </div>
        <div id="content">
            <div class="innerContent">
                <p></p>
                <table>
                    <thead>
                        <tr>
                            <th>First</th>
                            <th>Last</th>
                            <th>Phone</th>
                            <th>DOB</th>
                            <th>Instrument</th>
                            <th>Rental Fee</th>
                            <th>Tutor</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>@Model.FirstName</td>
                            <td>@Model.LastName</td>
                            <td>@Model.Phone</td>
                            <td>@Model.DOB.ToShortDateString()</td>
                            <td>@Model.Instrument.Name</td>
                            <td>$@Model.Instrument.RentalCost</td>
                            @if (Model.Tutor != null)
                            {
                                <td>@Model.Tutor.FirstName @Model.Tutor.LastName</td>
                            }
                            else
                            {
                                <td>Unassigned</td>
                            }
                        </tr>
                </table>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
