@model ankem1MusicAcademy.Models.TutorInstrument

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../Styles/MainStyles.css">
    <meta name="viewport" content="width=device-width" />
    <title>Add Instrument</title>
</head>
<body>
    <div id="container">
        <div id="banner">
            <div id="logo">
                <img src="../../Images/music_logo_v1.gif" alt="musical notes" />
            </div>
            <div id="title">
                <h2 id="titleText">Matt's Music Academy</h2>
                <h3 id="titleSubText">-- Add a Tutor's Instrument</h3>
            </div>
        </div>
        <div id="nav">
            <div class="innerContent">
                <ul>
                    <li>@Html.ActionLink("Students", "Students", "Student")</li>
                    <li>@Html.ActionLink("Tutors", "Tutors", "Tutor")</li>
                    <li>@Html.ActionLink("School Roll", "ShowSchoolRoll", "SchoolRoll")</li>
                    <li>@Html.ActionLink("Assign Tutors", "ShowAssignTutorsForm", "AssignTutors")</li>
                </ul>

            </div>
        </div>
        <div id="content">
            <div class="innerContent">
                <form action="AddTutorInstrument" method="post">
                    <h3>You can add an instrument to an existing tutor here:</h3>
                    <p>Instrument:</p>
                    @{
                        List<ankem1MusicAcademy.Models.Instrument> instruments = (List<ankem1MusicAcademy.Models.Instrument>)ViewBag.Instruments;
                    }
                    <select name="InstrumentID" required autofocus>

                        @foreach (var i in instruments)
                        {
                            <option value="@i.InstrumentID">@i.Name</option>
                        }
                    </select>

                    <p>Skill Level:</p>
                    @{
                        List<ankem1MusicAcademy.Models.SkillLevel> skillLevels = (List<ankem1MusicAcademy.Models.SkillLevel>)ViewBag.SkillLevels;
                    }
                    <select name="SkillLevelID" required autofocus>

                        @foreach (var i in skillLevels)
                        {
                            <option value="@i.SkillLevelID">@i.Skill</option>
                        }
                    </select>

                    <input type="hidden" name="TutorID" value="@ViewBag.TutorID" />

                    <br />
                    <br />
                    <input type="submit" name="submit" value="Add Tutor Instrument" />
                </form>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
