@model List<ankem1IntroToEF.Models.Farmer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowFarmersWithDogs</title>
</head>
<body>
    <div> 
        <h3>Here are all the farmers, with each dog that they own.</h3>
        <table>
            <!-- Loop over the farmers-->
            @foreach (var farmer in @Model)
            {
                <tr>
                    <td>@farmer.FirstName</td>
                    <td>@farmer.LastName</td>
                    <td>@farmer.Phone</td>
                
                    <!-- Loop over the list of dogs that each Farmer holds. -->
                    @foreach (var dog in farmer.Dogs)
                    {
                        <td>@dog.Name</td>
                        <td>@dog.Breed</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>
